<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened">
    <p>
      <mat-toolbar>
      <span class="centralizar"> Menu </span>
    </mat-toolbar>
    </p>
    <div class="container container-topo container-nav" routerLinkActive="active">
      <button mat-icon-button class="btn" color="primary" routerLink="">
        <mat-icon> home </mat-icon>
        <span> Página Inicial </span>
      </button>
    </div>
    <div class="container container-nav" routerLinkActive="active">
      <button mat-icon-button class="btn" color="primary" (click)="sidenav.toggle()" [routerLink]="'/cursos'">
        <mat-icon> school </mat-icon>
        <span> Cursos </span>
      </button>
    </div>
    <div class="container container-nav" routerLinkActive="active">
      <button mat-icon-button class="btn" color="primary" (click)="sidenav.toggle()" [routerLink]="'/rxjs'">
        <mat-icon> subscriptions </mat-icon>
        <span> RxJS POC </span>
      </button>
    </div>
    <div class="container container-nav" routerLinkActive="active">
      <button mat-icon-button class="btn" color="primary" (click)="sidenav.toggle()" [routerLink]="'/upload'">
        <mat-icon> upload </mat-icon>
        <span> Upload </span>
      </button>
    </div>
    <div class="container container-nav" routerLinkActive="active">
      <button mat-icon-button class="btn" color="primary" (click)="sidenav.toggle()" [routerLink]="'/search'">
        <mat-icon> search </mat-icon>
        <span> Pesquisa </span>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-icon-button class="btn" color="primary" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="container">
      <router-outlet> </router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>