<div class="custom-file col-12 rolagem">
    <input type="file" class="custom-file-input" id="file" (change)="onChange($event)" multiple>
    <label class="custom-file-label" for="file" id="fileLabel"> {{ nomeArquivo }} </label>
    <div class="invalid-feedback">Example invalid custom file feedback</div>
</div>
<div class="container">
    <button class="btn" (click)="onUpload()" [disabled]="!files"> Enviar </button>
</div>
<div class="progress">
    <div class="progress-bar" role="progressbar" [style.width]="progress + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"> {{ progress }}% </div>
</div>

<div class="container">
    <button class="btn" (click)="onDownloadExcel()" [disabled]="!files"> Download Excel </button>
</div>
<div class="container">
    <button class="btn" (click)="onDownloadPdf()" [disabled]="!files"> Download PDF </button>
</div>