<div class="container">
    <h3> Detalhes do Aluno </h3>
</div>
<div class="container">
    <label for="id"> ID: </label> <input type="text" id="id" readonly [value]="id">
    <br>
    <label for="id"> Nome: </label> <input type="text" readonly [value]="nome">
</div>

<div class="container button">
    <button mat-button color="accent" [routerLink]="['../novo']">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-button color="warn" [routerLink]="['../editar', id]">
        <mat-icon>edit</mat-icon>
    </button>
</div>