<div class="container">
    <h3> Detalhes do Aluno </h3>
</div>
<form>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label"> ID: </label>
      <div class="col-sm-10">
        <input type="number" class="form-control-plaintext" id="id" [(ngModel)]="id" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label"> Nome: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control-plaintext" id="nome" (input)="onInput()" [(ngModel)]="nome" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
</form>
<div class="container button">
    <button mat-button color="accent" (click)="salvar()">
        <mat-icon>check</mat-icon>
    </button>
    <button mat-button color="warn" (click)="cancelar()">
        <mat-icon>cancel</mat-icon>
    </button>
</div>