.letraPreta{
    background-color: rgba(0, 0, 0, 0.700);
}
.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}

#colorButton {
    color: black;
}
.centralizar{
    align-self: center;
    margin-left: 40px ;
}
.container-nav{
    padding: 20px;
}
.container-topo{
    margin-top: -12px;
}
.container-nav:hover{
    background-color: rgb(104, 104, 104);
}
.active{
    background-color:rgb(104, 104, 104);
}

.backgroud-sidebar{
    background-color: black;
}