<mat-sidenav-container class="example-container" >
  <mat-sidenav #sidenav mode="side" opened>
    <p>
      <mat-toolbar>
      <span class="centralizar"> Menu </span>
    </mat-toolbar>
    </p>

    <div class="container container-topo container-nav" routerLinkActive="active"  [routerLink]="'/home'" >
      <button mat-icon-button>
        <mat-icon> home </mat-icon>
      </button>
      <span> Página Inicial </span>
    </div>
    <div  routerLinkActive="active"  [routerLink]="'/login'" class="container container-nav" >
      <button mat-icon-button >
        <mat-icon> login </mat-icon>
      </button> 
      <span> Login </span>
    </div>
    <div routerLinkActive="active" [routerLink]="'/cursos'" [queryParams]="{pagina:1}" class="container container-nav" >
      <button  mat-icon-button >
        <mat-icon> school </mat-icon>
      </button> 
      <span> Cursos </span>
    </div>
    <div routerLinkActive="active" [routerLink]="'/alunos'"class="container container-nav" >
      <button  mat-icon-button >
        <mat-icon> folder_shared </mat-icon>
      </button> 
      <span> Alunos </span>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="letraPreta"> 
    <div class="container">
      <div class="container">
          <router-outlet> </router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
